@charset "UTF-8";
body { direction: rtl ; }
@font-face {
    font-family: 'Qanto';
    src: url('../fonts/qanto/Qanto.eot');
    src: url('../fonts/qanto/Qantod41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/qanto/Qanto.woff2') format('woff2'),
        url('../fonts/qanto/Qanto.woff') format('woff'),
        url('../fonts/qanto/Qanto.ttf') format('truetype'),
        url('../fonts/qanto/Qanto.svg#Qanto') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Qanto';
    src: url('../fonts/qanto/Qanto_1.eot');
    src: url('../fonts/qanto/Qanto_1d41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/qanto/Qanto_1.woff2') format('woff2'),
        url('../fonts/qanto/Qanto_1.woff') format('woff'),
        url('../fonts/qanto/Qanto_1.ttf') format('truetype'),
        url('../fonts/qanto/Qanto_1.svg#Qanto') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qanto';
    src: url('../fonts/qanto/Qanto_2.eot');
    src: url('../fonts/qanto/Qanto_2d41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/qanto/Qanto_2.woff2') format('woff2'),
        url('../fonts/qanto/Qanto_2.woff') format('woff'),
        url('../fonts/qanto/Qanto_2.ttf') format('truetype'),
        url('../fonts/qanto/Qanto_2.svg#Qanto') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Qanto';
    src: url('../fonts/qanto/Qanto_3.eot');
    src: url('../fonts/qanto/Qanto_3d41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/qanto/Qanto_3.woff2') format('woff2'),
        url('../fonts/qanto/Qanto_3.woff') format('woff'),
        url('../fonts/qanto/Qanto_3.ttf') format('truetype'),
        url('../fonts/qanto/Qanto_3.svg#Qanto') format('svg');
    font-weight: 500;
    font-style: normal;
}



svg[class*=right], svg[class*=left], [class*=right].fas, [class*=left].fas {
    transform: scaleX(-1) !important;
}

.product-item__badge {
    transform: rotate(-45deg) translateZ(0) !important;
}

#st_gdpr_iframe {
    left: 0 !important;
    right: -5000px;
}

.product-form__item select.single-option-selector {
    background-position: calc(23px) calc(1rem + 10px), calc(27px) calc(1rem + 10px);
}

.card__badge {
    -ms-transform: rotate(-45deg) translateZ(0);
    -webkit-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0);
}
